<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ait.ar.attendanceMintenance.mapper.ArScheduleHtsvMapper">

    <resultMap id="BaseResultMap" type="com.ait.ar.attendanceMintenance.model.ArScheduleHtsv">
        <id column="PK_NO" property="pkNo" jdbcType="NUMERIC" />
        <result column="PERSON_ID" property="personId" jdbcType="VARCHAR" />
        <result column="SHIFT_NO" property="shiftNo" jdbcType="VARCHAR" />
        <result column="AR_DATE_STR" property="arDateStr" jdbcType="VARCHAR" />
        <result column="LOCK_YN" property="lockYn" jdbcType="VARCHAR" />
        <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
        <result column="CREATED_BY" property="createdBy" jdbcType="VARCHAR" />
        <result column="UPDATE_DATE" property="updateDate" jdbcType="TIMESTAMP" />
        <result column="UPDATED_BY" property="updatedBy" jdbcType="VARCHAR" />
        <result column="ACTIVITY" property="activity" jdbcType="NUMERIC" />
        <result column="ORDERNO" property="orderno" jdbcType="NUMERIC" />
        <result column="ADD_FLAG" property="addFlag" jdbcType="VARCHAR" />
        <result column="UPDATED_IP" property="updatedIp" jdbcType="VARCHAR" />
        <result column="CREATED_IP" property="createdIp" jdbcType="VARCHAR" />
        <result column="TYPEID" property="typeid" jdbcType="NUMERIC" />
        <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    </resultMap>

    <resultMap id="DtoResultMap" type="com.ait.ar.attendanceMintenance.dto.ArScheduleHtsvDto" extends="BaseResultMap">
        <result column="EMPID" property="empId" jdbcType="VARCHAR" />
        <result column="LOCAL_NAME" property="localName" jdbcType="VARCHAR" />
        <result column="SHIFT_NAME" property="shiftName" jdbcType="VARCHAR" />
        <result column="TYPE_NAME" property="typeName" jdbcType="VARCHAR" />
    </resultMap>

    <select id="getList" resultMap="DtoResultMap" parameterType="map">
        SELECT 
            s.PK_NO,
            s.PERSON_ID,
            s.SHIFT_NO,
            GET_GLOBAL_NAME(s.SHIFT_NO, #{lang}) AS SHIFT_NAME,
            s.AR_DATE_STR,
            s.LOCK_YN,
            s.ACTIVITY,
            s.ORDERNO,
            s.ADD_FLAG,
            s.TYPEID,
            GET_GLOBAL_NAME(s.TYPEID, #{lang}) AS TYPE_NAME,
            s.REMARK,
            s.UPDATE_DATE,
            s.UPDATED_BY,
            e.EMPID,
            e.LOCAL_NAME
        FROM AR_SCHEDULE_HTSV s
        LEFT JOIN HR_EMPLOYEE e ON s.PERSON_ID = e.PERSON_ID
        <where>
            <if test="month != null and month != ''">
                AND s.AR_DATE_STR LIKE #{month} || '%'
            </if>
            <if test="empId != null and empId != ''">
                AND (e.EMPID LIKE '%' || #{empId} || '%' OR e.LOCAL_NAME LIKE '%' || #{empId} || '%')
            </if>
        </where>
        ORDER BY s.AR_DATE_STR DESC, s.UPDATE_DATE DESC
    </select>

    <select id="getByPkNo" resultMap="DtoResultMap">
        SELECT 
            s.PK_NO,
            s.PERSON_ID,
            s.SHIFT_NO,
            s.AR_DATE_STR,
            s.LOCK_YN,
            s.ACTIVITY,
            s.ORDERNO,
            s.ADD_FLAG,
            s.TYPEID,
            s.REMARK,
            e.EMPID,
            e.LOCAL_NAME
        FROM AR_SCHEDULE_HTSV s
        LEFT JOIN HR_EMPLOYEE e ON s.PERSON_ID = e.PERSON_ID
        WHERE s.PK_NO = #{pkNo}
    </select>

    <insert id="insert" parameterType="com.ait.ar.attendanceMintenance.model.ArScheduleHtsv">
        INSERT INTO AR_SCHEDULE_HTSV (
            PK_NO,
            PERSON_ID,
            SHIFT_NO,
            AR_DATE_STR,
            LOCK_YN,
            CREATE_DATE,
            CREATED_BY,
            ACTIVITY,
            ORDERNO,
            ADD_FLAG,
            CREATED_IP,
            TYPEID,
            REMARK
        ) VALUES (
            AR_SCHEDULE_SEQ.NEXTVAL,
            #{personId, jdbcType=VARCHAR},
            #{shiftNo, jdbcType=VARCHAR},
            #{arDateStr, jdbcType=VARCHAR},
            NVL(#{lockYn, jdbcType=VARCHAR}, 'N'),
            SYSDATE,
            #{adminID, jdbcType=VARCHAR},
            1,
            #{orderno, jdbcType=NUMERIC},
            NVL(#{addFlag, jdbcType=VARCHAR}, 'N'),
            #{adminIP, jdbcType=VARCHAR},
            #{typeid, jdbcType=NUMERIC},
            #{remark, jdbcType=VARCHAR}
        )
    </insert>

    <update id="update" parameterType="com.ait.ar.attendanceMintenance.model.ArScheduleHtsv">
        UPDATE AR_SCHEDULE_HTSV
        <set>
            <if test="personId != null">
                PERSON_ID = #{personId, jdbcType=VARCHAR},
            </if>
            <if test="shiftNo != null">
                SHIFT_NO = #{shiftNo, jdbcType=VARCHAR},
            </if>
            <if test="arDateStr != null">
                AR_DATE_STR = #{arDateStr, jdbcType=VARCHAR},
            </if>
            <if test="lockYn != null">
                LOCK_YN = #{lockYn, jdbcType=VARCHAR},
            </if>
            <if test="activity != null">
                ACTIVITY = #{activity, jdbcType=NUMERIC},
            </if>
            <if test="orderno != null">
                ORDERNO = #{orderno, jdbcType=NUMERIC},
            </if>
            <if test="addFlag != null">
                ADD_FLAG = #{addFlag, jdbcType=VARCHAR},
            </if>
            <if test="typeid != null">
                TYPEID = #{typeid, jdbcType=NUMERIC},
            </if>
            <if test="remark != null">
                REMARK = #{remark, jdbcType=VARCHAR},
            </if>
            UPDATE_DATE = SYSDATE,
            UPDATED_BY = #{adminID, jdbcType=VARCHAR},
            UPDATED_IP = #{adminIP, jdbcType=VARCHAR}
        </set>
        WHERE PK_NO = #{pkNo}
    </update>

    <delete id="delete">
        DELETE FROM AR_SCHEDULE_HTSV
        WHERE PK_NO = #{pkNo}
    </delete>

</mapper>
