<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ait.sy.excel.mapper.ExcelMapper">

    <select id="getPersonIdByEmpId" resultType="String">
        SELECT PERSON_ID FROM HR_EMPLOYEE WHERE EMPID = #{empId} AND ROWNUM = 1
    </select>

    <insert id="insertScheduleHtsv" parameterType="map">
        INSERT INTO AR_SCHEDULE_HTSV (
            PK_NO,
            PERSON_ID,
            SHIFT_NO,
            AR_DATE_STR,
            LOCK_YN,
            CREATE_DATE,
            CREATED_BY,
            ACTIVITY,
            ADD_FLAG,
            CREATED_IP,
            TYPEID,
            REMARK
        ) VALUES (
            AR_SCHEDULE_SEQ.NEXTVAL,
            #{personId, jdbcType=VARCHAR},
            #{shiftNo, jdbcType=VARCHAR},
            #{arDateStr, jdbcType=VARCHAR},
            'N',
            SYSDATE,
            #{adminID, jdbcType=VARCHAR},
            1,
            'N',
            #{adminIP, jdbcType=VARCHAR},
            #{typeid, jdbcType=NUMERIC},
            #{remark, jdbcType=VARCHAR}
        )
    </insert>

</mapper>
