<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ait.hrm.empinfo.mapper.HrAddressMattersMapper">

    <resultMap id="HrAddressMattersResultMap" type="com.ait.hrm.empinfo.model.HrAddressMatters">
        <id property="addressNo" column="ADDRESS_NO"/>
        <result property="personId" column="PERSON_ID"/>
        <result property="addressType" column="ADDRESS_TYPE"/>
        <result property="effectiveStartDate" column="EFFECTIVE_START_DATE"/>
        <result property="addressContent" column="ADDRESS_CONTENT"/>
        <result property="activity" column="ACTIVITY"/>
        <result property="nationality" column="NATIONALITY"/>
        
        <result property="createDate" column="CREATE_DATE"/>
        <result property="createdBy" column="CREATED_BY"/>
        <result property="createdIp" column="CREATED_IP"/>
        <result property="updateDate" column="UPDATE_DATE"/>
        <result property="updatedBy" column="UPDATED_BY"/>
        <result property="updatedIp" column="UPDATED_IP"/>
        
        <!-- Joined fields -->
        <result property="empId" column="EMPID"/>
        <result property="localName" column="LOCAL_NAME"/>
        <result property="deptName" column="DEPT_NAME"/>
    </resultMap>

    <select id="searchAddress" resultMap="HrAddressMattersResultMap">
        SELECT 
            t1.*,
            t2.EMPID,
            t2.LOCAL_NAME,
            t3.ORG_NAME_LOCAL AS DEPT_NAME
        FROM HR_ADDRESS_MATTERS t1
        LEFT JOIN HR_EMPLOYEE t2 ON t1.PERSON_ID = t2.PERSON_ID
        LEFT JOIN HR_DEPARTMENT t3 ON t2.DEPTNO = t3.DEPTNO
        WHERE 1=1
        <if test="empId != null and empId != ''">
            AND t2.EMPID LIKE '%' || #{empId} || '%'
        </if>
        <if test="localName != null and localName != ''">
            AND t2.LOCAL_NAME LIKE '%' || #{localName} || '%'
        </if>
        <if test="addressContent != null and addressContent != ''">
            AND t1.ADDRESS_CONTENT LIKE '%' || #{addressContent} || '%'
        </if>
        AND t1.ACTIVITY = '1'
        ORDER BY t1.PERSON_ID ASC
    </select>

    <select id="getById" resultMap="HrAddressMattersResultMap">
        SELECT 
            t1.*,
            t2.EMPID,
            t2.LOCAL_NAME,
            t3.ORG_NAME_LOCAL AS DEPT_NAME
        FROM HR_ADDRESS_MATTERS t1
        LEFT JOIN HR_EMPLOYEE t2 ON t1.PERSON_ID = t2.PERSON_ID
        LEFT JOIN HR_DEPARTMENT t3 ON t2.DEPTNO = t3.DEPTNO
        WHERE t1.ACTIVITY = '1' AND t1.ADDRESS_NO = #{addressNo}
    </select>

    <insert id="insert" parameterType="com.ait.hrm.empinfo.model.HrAddressMatters">
        INSERT INTO HR_ADDRESS_MATTERS (
            ADDRESS_NO, PERSON_ID, ADDRESS_TYPE, EFFECTIVE_START_DATE, ADDRESS_CONTENT,
            ACTIVITY, NATIONALITY,
            CREATE_DATE, CREATED_BY, CREATED_IP, UPDATE_DATE, UPDATED_BY, UPDATED_IP
        ) VALUES (
            HR_ADDRESS_MATTERS_SEQ.NEXTVAL, #{personId}, #{addressType}, #{effectiveStartDate}, #{addressContent},
            1, #{nationality},
            SYSDATE, #{adminID}, #{adminIP}, SYSDATE, #{adminID}, #{adminIP}
        )
    </insert>

    <update id="update" parameterType="com.ait.hrm.empinfo.model.HrAddressMatters">
        UPDATE HR_ADDRESS_MATTERS
        SET 
            PERSON_ID = #{personId},
            ADDRESS_TYPE = #{addressType},
            EFFECTIVE_START_DATE = #{effectiveStartDate},
            ADDRESS_CONTENT = #{addressContent},
            ACTIVITY = 1,
            NATIONALITY = #{nationality},
            UPDATE_DATE = SYSDATE,
            UPDATED_BY = #{adminID},
            UPDATED_IP = #{adminIP}
        WHERE ADDRESS_NO = #{addressNo}
    </update>

    <delete id="delete">
        UPDATE HR_ADDRESS_MATTERS 
        SET ACTIVITY = '0',
            UPDATE_DATE = SYSDATE, 
            UPDATED_BY = #{adminID}, 
            UPDATED_IP = #{adminIP} 
        WHERE ADDRESS_NO = #{addressNo}
    </delete>

</mapper>
